    body { margin:0; padding:0; }
    
    body, html {height: 100%;}
    #map1 { position: absolute; top:186px; height: calc(100% - 186px); bottom:200px; left:0; }
        #map2 { position: absolute; top:186px; height: calc(100% - 186px); bottom:200px; right:0; }
      
        #basemaps-left-wrapper {
    position: relative;
    top: 10px;
    width: 110px;
    left: 50px;
    z-index: 4000;
    background: white;
    padding: 10px;
  }
      
              #basemaps-right-wrapper {
    position: relative;
    top: 10px;
    width: 110px;
    left: 50px;
    z-index: 4000;
    background: white;
    padding: 10px;
  }
      
  #basemaps {
    margin-bottom: 5px;
  }

@media (max-width: 768px) {
    #map1, #map2 {
        top: 50px;
        height: calc(100% - 50px);
    }
}
  
  @media (max-width: 1024px) and (min-width: 769px) { 
    #map1, #map2 {
      top: 165px;
      height: calc(100% - 165px);
    }
  }
  
  
    @media (max-width: 400px) { 
        #basemaps-left-wrapper, #basemaps-right-wrapper { 
        position: absolute;
        top: auto;
        left: 15px;
        bottom: 25px;                            
        }
    
     #basemapsLeft, #basemapsRight{ 
        position: relative;                      
        }
    
   /*    .leaflet-top.leaflet-right {
            top:  auto;
            bottom:  70px;
       }*/
   }
    
  